{% extends 'layout.html' %}

{% block title %}Modify Info{% endblock %}

{% block content %}
<div class="container">
    <h1>
        Final Grades for {{ name }} ({{ student_id }})
    </h1>
    <form method="get" action="{{ url_for('check_final_grade') }}">
        <input type="hidden" name="student_id" value="{{ student_id }}">
        <input type="hidden" name="name" value="{{ name }}">

        <label for="semester">Filter by Semester:</label>
        <select name="semester" id="semester" onchange="this.form.submit()">
            <option value="">All Semesters</option>
            {% for semester in semesters %}
            <option value="{{ semester }}" {% if semester|string==request.args.get('semester') %}selected{% endif %}>
                {{ semester }}
            </option>
            {% endfor %}
        </select>
    </form>
    <div class="links">
        <a href="{{ url_for('home') }}">Back</a>
    </div>
</div>

<div class="container">
    <table cellpadding="5" cellspacing="5" class="table table-hover">
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Year</th>
            <th>Semester</th>
            <th>Grade</th>
        </tr>
        {% for row in data %}
        {% if row[4] %}
        <tr>
            <td>{{ row[0] }}</td> <!-- course_id -->
            <td>{{ row[1] }}</td> <!-- course title -->
            <td>{{ row[2] }}</td> <!-- semester -->
            <td>{{ row[3] }}</td> <!-- year -->
            <td>{{ row[4] }}</td> <!-- grade -->
        </tr>
        {% endif %}
        {% endfor %}
    </table>

</div>





{% endblock %}