{% extends 'layout.html' %}

{% block title %}CRUD Classroom{% endblock %}

{% block content %}
<h1>CRUD Classroom</h1>
<div class="msg">{{ msg }}</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Create
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form action="{{ url_for('crud_classroom') }}" method="POST">
                    <div class="mb-3">
                        <label>Room ID</label>
                        <input type="text" name="Cid" required>
                    </div>

                    <div class="mb-3">
                        <label>Building</label>
                        <input type="text" name="Cbuilding" required>
                    </div>

                    <div class="mb-3">
                        <label>Room Number</label>
                        <input type="text" name="Cnumber" required>
                    </div>

                    <div class="mb-3">
                        <label>Capacity</label>
                        <input type="text" name="Ccap" required>
                    </div>

                    <input type="submit" value="Create Classroom">

                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Read
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <table cellpadding="5" cellspacing="5" class="table table-hover">
                    <tr>
                        <th>Building</th>
                        <th>Room Number</th>
                        <th>Capacity</th>
                    </tr>
                    {% for row in data %}
                    <tr>
                        <td>{{ row[1] }}</td> <!-- building -->
                        <td>{{ row[2] }}</td> <!-- num -->
                        <td>{{ row[3] }}</td> <!-- cap -->
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Update
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form action="{{ url_for('crud_classroom') }}" method="POST">
                    <div class="form-group">
                        <label for="classes">Choose a Classroom:</label>
                        <select name="classroom" id="classroom">
                            {% for id, build, num, cap in data %}
                            <option value="{{ id }}">{{ build }} {{num}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <input type="text" placeholder="Building" name="build">
                    </div>

                    <div class="mb-3">
                        <input type="text" placeholder="Room Number" name="num">
                    </div>

                    <div class="mb-3">
                        <input type="text" placeholder="Capacity" name="cap">
                    </div>

                    <input type="submit" value="Update Room" name="update">

                </form>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Delete
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form action="{{ url_for('crud_classroom') }}" method="POST">
                    <div class="form-group">
                        <label for="classes">Choose a Classroom:</label>
                        <select name="classroom" id="classroom">
                            {% for id, build, num, cap in data %}
                            <option value="{{ id }}">{{ build }} {{num}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <input type="submit" value="Delete Room" name="delete">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}